.root {
	display: flex;
}
.root > main {
	max-width: 100%;
}
/* Peremestit' */
.app-nav .active {
	background: rgba(0,0,0,0.04);
}

.button-theme-switch {
	position: fixed;
	background: #fff;
	z-index: 100000;
}

.map-container {
	max-width: 100%;
}