.search-form {
	margin-bottom: 30px;
}
.search-form-body {
	display: flex;
	align-items: center;
	justify-content: space-between
}
.search-form-input {
	width: 100%;
}
.search-form-input input {
	text-indent: 10px;
}

.fetching-indicator {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fafafa;
	border: 1px solid rgba(0, 0, 0, 0.12);
	z-index: 2000;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
